@model Week12Assessment.Models.Student

<h2>Add Student</h2>

<form asp-action="Create">

    <div class="form-group">
        <label>Name</label>
        <input asp-for="StudentName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label>Department</label>
        <select asp-for="DepartmentId"
                asp-items="ViewBag.Departments"
                class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label>Course</label>
        <select asp-for="CourseId"
                asp-items="ViewBag.Courses"
                class="form-control">
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Save Student
    </button>

</form>