<h2>Teacher Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-4">
        <a class="btn btn-primary w-100"
           asp-controller="Department"
           asp-action="Index">
            Manage Departments
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-success w-100"
           asp-controller="Course"
           asp-action="Index">
            Manage Courses
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-warning w-100"
           asp-controller="Student"
           asp-action="Index">
            Manage Students
        </a>
    </div>

</div>